{{#each this}}
<div class="photo-card">
    <a class="photo-link" href="{{largeImageURL}}">
        <div class="thumb">
            <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width="100%" height="100%" />
        </div>
    </a>
    <div class="info">
        <p class="info-item">{{likes}}
            <b>Likes</b>
        </p>
        <p class="info-item">{{views}}
            <b>Views</b>
        </p>
        <p class="info-item">{{comments}}
            <b>Comments</b>
        </p>
        <p class="info-item">{{downloads}}
            <b>Downloads</b>
        </p>
    </div>
</div>
{{/each}}